* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, input, button {
    font: 400 16px 'Nunito', sans-serif;
}

body {
    background: linear-gradient(108.88deg, #97E6A2 -11.98%, #307539 90.88%);
    /* background: linear-gradient(118.64deg, #307539 11.08%, #97E6A2 100%); */
    /* background: linear-gradient(121.83deg, #97E6A2 -9.19%, #307539 85.41%); */
}

main {
    display: flex;
}
    
#image-container {
    display: none;
}

#image-container img {
    max-width: 25rem;
}

#content {
    flex: 4;
    height: 100vh;
    background: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content .container {
    margin: 6.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#content .container header {
    border-bottom: 1px solid #D6E5D3;
    padding-bottom: 0.5rem;
}

#content .container header .wifi-zone {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#content .container header .wifi-zone strong {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.09rem;
}

#content .container header strong {
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 35px;
    color: #4E9C58;
    letter-spacing: 0.09rem;
}

#content .container .login-container form h2 {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    color: #1A421F;
}

#content .container .login-container form .input-group {
    display: flex;
    flex-direction: column;
}


#content .container .login-container form .input-group:not(:first-child) label {
    margin-top: 1rem;
    font-size: 1rem;
    color: #1A421F;
}

#content .container .login-container form .input-group input[type="text"],
#content .container .login-container form .input-group input[type="password"],
#content .container .login-container form button, 
#content .container .login-container form .input-group .input {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

#content .container .login-container form .input-group .input {
    background: #F5FAF5;
    border: 1px solid #D6E5D3;
    margin-top: 0.5rem;
    padding: 0 1rem;
    color: #1A421F;
    
    display: flex;
}

#content .container .login-container form .input-group .input:focus-within {
    border: 1px solid #5CB768;
}

#content .container .login-container form .input-group .input input[type="text"],
#content .container .login-container form .input-group .input input[type="password"] {
    background: transparent;
    border: none;
    outline: none;
    margin-left: 1rem;
    color: #52665A;
    font-size: 1.125rem;
}

#content .container .login-container form .input-group .input input[type="password"] {
    margin-right: 1rem;
}

#content .container .login-container form button {
    background: #5CB768;
    margin-top: 2.5rem;
    color: #fff;
    border: none;
    font-weight: bold;
}

#content .container .login-container form button:disabled {
    filter: opacity(0.5);
    cursor: not-allowed;
}

#content footer {
    color: #52665A;
    border-top: 1px solid #D6E5D3;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
}

#content footer.container {
    margin: 0;
}

#content footer span {
    font-size: 1.125rem;
    opacity: 0.6;
}

#content footer p {
    font-size: 1rem;
    line-height: 1.40625rem;
    margin-top: 0.5rem;
    font-weight: bold;
    opacity: 0.8;
}



/*======= MEDIA QUERIES =====================================*/
@media (min-width: 720px) {
    #image-container {
        flex: 8;
        display: flex;
        justify-content: center;
    }

    #content .container .login-container form h2 {
        font-size: 2rem;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        color: #1A421F;
    }
}

@media (min-width: 1200px) {
    #content .container {
        margin: 5rem 6rem;
    }
    
    #image-container img {
        max-width: 31.25rem;
    }

    #content .container .login-container form .input-group input[type="text"],
    #content .container .login-container form .input-group input[type="password"],
    #content .container .login-container form button, 
    #content .container .login-container form .input-group .input {
        width: 100%;
        height: 3.5rem;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
}

/* extra large devices: > 1200 */
@media (min-width: 1400px) {
    #image-container img {
        max-width: 40.9rem;
    }

    #content .container {
        margin: 8rem 6.5rem;
    }

    #content .container .login-container form h2 {
        font-size: 2rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
        color: #1A421F;
    }

    #content .container .login-container form .input-group input[type="text"],
    #content .container .login-container form .input-group input[type="password"],
    #content .container .login-container form button, 
    #content .container .login-container form .input-group .input {
        width: 100%;
        height: 4rem;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
    
    #content .container .login-container form .input-group .input input[type="text"],
    #content .container .login-container form .input-group .input input[type="password"] {
        background: transparent;
        border: none;
        outline: none;
        margin-left: 1rem;
        color: #52665A;
        font-size: 1.25rem;
    }
}
